.App {
  background-color: #F7F7F7;
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  color: #141115;
  background-color: #CFD4C5;
  padding: 1em;
  text-align: center;
}

.Storefront {
  color: #141115;
  background-color: #F7F7F7;
  flex: 1;
}

.Categories {
  color: #141115;
  background-color: #CFD4C5;
}

#current-category {
  text-align: center;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CFD4C5;
}

#nav-item {
  float: left;
  color: #F7F7F7;
  padding: 0.25em;
}

.Cart {
  color: #141115;
  border: 2px solid #C1FBA4;
  float: right;
  width: 49%;
}

.Products {
  color: #141115;
  border: 2px solid #FFD6E0;
  float: left;
  width: 49%;
}

.Footer {
  background-color: #CFD4C5;
  color: #141115;
  text-align: center;
}